.body, html {
    font-family: Calibri;
    background-color: #6f6f6fba;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita scrollbars si el contenido es muy grande */
}


.input-container {
    margin-bottom: 20px;
    position: relative;
}

    .input-container input {
        width: 100%;
        padding-right: 30px; /* Espacio para el ícono */
    }

    .input-container i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #504c4c;
    color: black;
    font-size: 16px;
    transition: border-bottom-color 1.2s ease; /* Transición suave */
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid #0d6efd; /* Color al recibir el foco */
}


::placeholder {
    color: #777;
}


.was-validated1 input[type="text"]:invalid,
.was-validated1 input[type="password"]:invalid,
.was-validated1 select:invalid {
    border-bottom: 2px solid #dc3545; /* Rojo para entradas inválidas */
}

.was-validated1 input[type="text"]:valid,
.was-validated1 input[type="password"]:valid,
.was-validated1 select:valid {
    border-bottom: 2px solid #28a745; /* Color de borde verde cuando está validado correctamente */
}

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon #inUsuario {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que el loader esté por encima de otros elementos */
}



.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader:before, .loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #00b1ff inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.wrapper {
    max-width: 500px;
    width: 100%; /* Para que el ancho del contenido no supere el máximo definido */
    padding: 30px 6px;
    border-radius: 10px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto del elemento */
    background-color: white; /* Fondo para visibilidad */
    position: absolute; /* Permite centrar con transform */
    top: 50%; /* Posiciona el centro del .wrapper a la mitad de la altura del body */
    left: 50%; /* Posiciona el centro del .wrapper a la mitad del ancho del body */
    transform: translate(-50%, -50%); /* Ajusta el .wrapper hacia arriba y hacia la izquierda para centrarlo */
}
